.agm-map {
 height: 600px;
 width: 600px;
 margin-left: auto;
 margin-right: auto;
}
#infowindow-content {
  display: none;
}
.agm-map #infowindow-content {
  display: inline;
}
#bt1{
  background-color: #33cccc;
}
.wrapper
{
	background-image: url('/../.././assets/images/resource/parallax2.jpg');
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#place-address
{
color: black;
}