
<div class="wrapper image-wrapper inverse-text">
  <div class="container inner">
      <div class="row">
        <div class="space40"></div>
          <div class="col-md-6">
            <div id="accordion-1" class="accordion-wrapper simple">
              <div class="card">
                <div class="card-header" id="accordion-heading-1-1">
                  <h5>
                    <button data-toggle="collapse" data-target="#accordion-collapse-1-1" aria-expanded="true" aria-controls="accordion-collapse-1-1"></button>
                  </h5>
                </div>
                <!-- /.collapse -->
              </div>
              </div>
              <form>
                  <div class="form-group">
                    <input class="brd-rd3" ngx-google-places-autocomplete class="form-control" placeholder="restaurant adresse please"> 
                  </div>
                    <button class="brd-rd2 red-bg" type="submit">Search</button>
              </form>
          </div>
         <div class="col-md-6">
        </div>
      </div>
   </div>
</div>
<div id="infowindow-content" class="label label-success">
 <h6 id="place-address" ></h6>
</div> 
