<div class="offcanvas-info inverse-text" id="id1">
    <button class="plain offcanvas-close offcanvas-info-close"><i class="jam jam-close"></i></button>
    <a href="#"><img src="#" srcset="assets/images/logo-light.png 1x, assets/images/logo-light@2x.png 2x" alt="" /></a>
    <div class="space30"></div>
    <p class="color-white">Sunleavs, un Solar Social Club grâce à une
        plateforme web et à un capteur Wi-fi branché sur le tableau électrique de chacun des
        membres, permet de faciliter l’émergence de communautés énergétiques.</p>
    <div class="space20"></div>
    <div class="widget">
        <h5 class="widget-title">Contact Info</h5>
        <address class="color-white">Avenue Louis Philibert<br />13545 Aix-en-Provence, France<div class="space20"></div>
            <a href="mailto:f.romain@sunleavs.fr" class="color-white">romain@sunleavs.fr</a><br /> +00 (123) 456 78 90 </address>
    </div>
    <!-- /.widget -->
    <div class="widget">
        <h3 class="widget-title" class="color-white">Apprendre Plus</h3>
        <ul class="list-unstyled">
            <li><a href="#" class="color-white">La genèse</a></li>
            <li><a href="#" class="color-white">Notre équipe</a></li>
            <li><a href="#" class="color-white">Privacy Policy</a></li>
            <li><a href="#"class="color-white">Contactez nous</a></li>
        </ul>
    </div>
    <!-- /.widget -->
    <div class="widget">
        <h3 class="widget-title">Suivez Nous</h3>
        <ul class="social social-mute social-s ml-auto">
            <li><a href="#"><i class="jam jam-twitter"></i></a></li>
            <li><a href="#"><i class="jam jam-facebook"></i></a></li>
            <li><a href="#"><i class="jam jam-instagram"></i></a></li>
            <li><a href="#"><i class="jam jam-vimeo"></i></a></li>
            <li><a href="#"><i class="jam jam-youtube"></i></a></li>
        </ul>
    </div>
    <!-- /.widget -->
</div>
