<main>
  <div class="preloader">
      <div id="cooking">
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div id="area">
              <div id="sides">
                  <div id="pan"></div>
                  <div id="handle"></div>
              </div>
              <div id="pancake">
                  <div id="pastry"></div>
              </div>
          </div>
      </div>
  </div>
  <app-navbar></app-navbar>
  <!-- /.navbar -->
  <!-- /.offcanvas-info -->
  <router-outlet></router-outlet> 
  <app-footer></app-footer>
</main>

