<section>
    <div class="block less-spacing gray-bg">
        <div class="sec-box bottom-padd140">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="reservation-tabs-wrapper">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="reservation-tabs-list brd-rd5">
                                        <ul class="nav nav-tabs brd-rd5">
                                            <li class="active">
                                                <a href="#reservation-tab1" data-toggle="tab">
                                                <span class="brd-rd50">1</span>Your orders</a>
                                            </li>
                                            <li>
                                                <a href="#reservation-tab2" data-toggle="tab">
                                                    <span class="brd-rd50">2</span>Choose your Table
                                                </a>
                                            </li>
                                            <li><a href="#reservation-tab3" data-toggle="tab"><span class="brd-rd50">3</span> Payment Information</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-12 col-lg-9">
                                    <div class="reservation-tab-content">
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="reservation-tab1">
                                                <div class="order-wrapper2 brd-rd5">
                                                    <h4 itemprop="headlie">YOUR ORDER</h4>
                                                    <ul class="ordr-lst brd-rd5">
                                                    <li class="lst-hed" >Name<span>montant</span><span>categories</span></li>
                                                        <li  *ngFor="let data of food;let i = index">{{data.getNom()}}<span>{{data.getMontant()}}</span><span>{{data.getCategorie()}}</span></li>
                                                        <li class="red-bg">Total <span>{{total}}</span></li>
                                                    </ul>
                                                    <div class="ordr-btn">
                                                        <a class="red-bg brd-rd5" href="#" title="" itemprop="url">Place Order</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="reservation-tab2">
                                                <div class="select-package-wrapper">
                                                    <label>Your Table<sup>*</sup></label>
                                                      <input class="brd-rd3" type="text">
                                                    <div class="remove-ext3">
                                                        <div class="row mrg10">
                                                            <div class="col-md-4 col-sm-4 col-lg-4">
                                                                <div class="packege-box brd-rd5 text-center">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="step-buttons">
                                                        <a class="brd-rd3" href="#" title="" itemprop="url">Back Step</a>
                                                        <a class="brd-rd3 red-bg" href="#" title="" itemprop="url">Next Step</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="reservation-tab3">
                                                <form class="restaurant-info-form brd-rd5">
                                                    <div class="row mrg20">
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <label>First Name <sup>*</sup></label>
                                                            <input class="brd-rd3" type="text">
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <label>Last Name <sup>*</sup></label>
                                                            <input class="brd-rd3" type="text">
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <label>Email <sup>*</sup></label>
                                                            <input class="brd-rd3" type="email">
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                                            <label>Phone <sup>*</sup></label>
                                                            <input class="brd-rd3" type="text">
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                                            <label>Address <sup>*</sup></label>
                                                            <input class="brd-rd3" type="text">
                                                        </div>
                                                        <div class="pay-mnt" id="space">
                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                <img src="assets/images/pay-mthd-img.jpg" alt="pay-mthd-img.jpg" itemprop="image">
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                <input class="brd-rd3" type="text" placeholder="your carte">
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                                            <div class="step-buttons">
                                                                <a class="brd-rd3" href="#" title="" itemprop="url">Back Step</a>
                                                                <a class="brd-rd3 red-bg" href="#" title="" itemprop="url">Next Step</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Section Box -->
    </div>
</section>
