#conteneur
{
    justify-content: center;
    align-items: center;
}
#im {
    max-width: 100%;
    height: auto;
}
  #space
  {
      display: flex;
      justify-content: space-around;
  }
  .badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
}   
  .shopping-cart:after {
      bottom: 100%;
      left: 89%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: white;
      border-width: 8px;
      margin-left: -8px;
  }